.input{
    background-color: transparent;
    width: 356px;
    height: 64px;
    border: 1px solid rgba(255, 255, 255, 0.69);
    border-radius: 10px;
    padding-left: 20px;
    font-size: 24px;
    color: white;    
}