.button{
    width: fit-content;
    padding: 0px 40px;
    height: 50px;
    background-color: #F48432;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.8s;
    

    .text{
        color: white;
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 600;
    }
}

.button:hover{
    transition: 1s;
    box-shadow: 0px 4px 12px 1px rgba(255, 255, 255, 0.25);
}